._icon-purple-ball:before {
    content: "\e905";
}
._icon-red-ball-big:before {
    content: "\e906";
}
._icon-red-ball-small:before {
    content: "\e907";
}
._icon-logo-welbex-part1:before {
    content: "\e900";
    color: #e4e5ea;
}
._icon-logo-welbex-part2:before {
    content: "\e901";
    color: #e4e5ea;
}
._icon-telegram:before {
    content: "\e902";
    color: #e4e5ea;
}
._icon-viber:before {
    content: "\e903";
    color: #e4e5ea;
}
._icon-whatsapp:before {
    content: "\e904";
    color: #e4e5ea;
}