@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700,900&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular&display=swap&subset=cyrillic-ext);

$fontFamily: "Inter";

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1140px;
$md1: $maxWidthContainer + 12px;

body {
  margin: 0;
  font-family: $fontFamily;
  color: #E4E5EA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
._container {
  max-width: $md1;
  margin: 0 auto;
}


@media screen and (max-width: 426px) {
  ._container {
    max-width: 288px;
  }
}

.wrapper {
  background: #0E1014;
}
